<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh Sách Tay Đua</title>
    <link
      rel="stylesheet"
      href="./assets/themify-icons-font/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="./assets/css/riders.css" />
  </head>
  <body>
    <div class="main">
      <!-- Phần header được thay thế bằng fragment -->
      <div th:replace="~{home/fragments/header :: header}"></div>
      <!-- Phần slider cũng được thay thế -->
      <div th:replace="~{riderteam/fragments/slider :: slider}"></div>

      <div class="content">
        <!-- Thông tin chính, ví dụ về thông báo -->
        <div class="news">
          <div class="image"></div>
          <span>Official</span>
        </div>

        <!-- Danh sách tay đua dưới dạng thẻ card -->
        <div class="row place-list">
          <!-- Vòng lặp Thymeleaf để hiển thị mỗi tay đua trong danh sách -->
          <div th:each="rider : ${riders}" class="rider-card">
            <!-- Hiển thị hình ảnh của tay đua -->
            <img
              th:src="${rider.imgUrl}"
              alt="Image of [[${rider.name}]]"
              class="riders-img"
            />
            <!-- Hiển thị số xe của tay đua -->
            <span class="id-rider" th:text="${rider.riderNumber}"></span>
            <!-- Hiển thị tên tay đua -->
            <div class="rider-list__info-name">
              <span th:text="${rider.name}"></span>
            </div>
            <!-- Hiển thị quốc gia và đội của tay đua -->
            <div class="country">
              <img
                th:src="${rider.team.countryFlagUrl}"
                alt="Flag of [[${rider.country}]]"
                class="card-flag-country"
              />
              <span class="name-country" th:text="${rider.country}"></span>
              <span
                class="rider-list__details-team"
                th:text="${rider.team.name}"
              ></span>
            </div>
          </div>
        </div>

        <!-- Phần footer được thay thế bằng fragment -->
        <div th:replace="~{home/fragments/footer :: footer}"></div>
      </div>
    </div>
  </body>
</html>
