<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh Sách Tay Đua</title>
    <link
      rel="stylesheet"
      href="./assets/themify-icons-font/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="./assets/css/riders.css" />
  </head>
  <body>
    <div class="main">
      <div th:replace="~{home/fragments/header :: header}"></div>
      <div th:replace="~{riderteam/fragments/slider :: slider}"></div>

      <div class="content">
        <div class="news">
          <div class="image"></div>
          <span>Official</span>
        </div>

        <div class="row place-list">
          <!-- Danh sách tay đua -->
          <div th:each="rider : ${riders}" class="rider-card">
            <img
              th:src="${rider.team.logoUrl}"
              alt="${rider.name}"
              class="riders-img"
            />
            <span class="id-rider" th:text="${rider.riderNumber}"></span>
            <div class="rider-list__info-name">
              <span th:text="${rider.name}"></span>
              <span th:text="${rider.lastName}"></span>
              <!-- Đảm bảo lastName có trong lớp Rider -->
            </div>
            <div class="country">
              <img
                th:src="${rider.team.countryFlagUrl}"
                alt="${rider.country}"
                class="card-flag-country"
              />
              <span class="name-country" th:text="${rider.country}"></span>
              <span
                class="rider-list__details-team"
                th:text="${rider.team.name}"
              ></span>
            </div>
          </div>
        </div>

        <div th:replace="~{home/fragments/footer :: footer}"></div>
      </div>
    </div>
  </body>
</html>
